<div class="row">
    <div class="col">
        <div class="animate__animated animate__fadeIn">
            <h2>País</h2>
            <hr>
            <div class="row">
                <div class="col">
                <app-pais-input 
                    (onEnter)="buscar($event)" 
                    (onDebounce)="sugerencias($event)"
                    placeholder="Buscar país..."></app-pais-input>
                </div>
                <ul class="list-group psf">
                    <li class="list-group-item list-group-item-action cursor-pointer" *ngFor="let pais of paisesSugeridos">
                        <a [routerLink]="['/pais', pais.alpha2Code]">{{pais.name}}</a>
                    </li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="alert alert-danger" *ngIf="hasError">
            No se encontraron resultados.
        </div>
        <div class="row" *ngIf="paises.length > 0">
            <div class="col">
                <div class="table-responsive">
                    <app-pais-tabla [paises]="paises"></app-pais-tabla>
                </div>
            </div>
        </div>
    </div>
</div>