<div class="row">
    <div class="col mt-2">
        <div class="animate__animated animate__fadeIn">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item fs-5 active" aria-current="page">Capital</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col col-r-custom">
                   <app-pais-input 
                        (onEnter)="buscar($event)" 
                        (onDebounce)="sugerencias($event)"
                        placeholder="Buscar capital...">
                    </app-pais-input>
                    <div class="col-r-custom">
                        <ul class="dropdown-menu show ddwm-custom" role="menu" *ngIf="paisesSugeridos.length > 0">
                            <li *ngFor="let pais of paisesSugeridos">
                                <a [routerLink]="['/pais', pais.alpha2Code]" class="dropdown-item" href="#">{{pais.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="alert alert-danger" *ngIf="hasError">
            No se encontraron resultados.
        </div>
        <div class="row" *ngIf="paises.length > 0">
            <div class="col">
                <div class="table-responsive">
                    <app-pais-tabla [paises]="paises"></app-pais-tabla>
                </div>
            </div>
        </div>
    </div>
</div>