<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item"
          routerLink=""
          data-bs-toggle="collapse" 
          data-bs-target=".collapse.show">
        <a class="nav-link cursor-pointer" 
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true}">
          <i class="bi bi-pin-map"></i>
          País
        </a>
      </li>
      <li class="nav-item" 
          routerLink="capital"
          data-bs-toggle="collapse" 
          data-bs-target=".collapse.show">
        <a class="nav-link cursor-pointer" 
        routerLinkActive="active">
          <i class="bi bi-bookmark"></i>
          Capital
        </a>
      </li>
      <li class="nav-item" 
          routerLink="region"
          data-bs-toggle="collapse" 
          data-bs-target=".collapse.show">
        <a class="nav-link cursor-pointer" 
          routerLinkActive="active">
          <i class="bi bi-map"></i>
          Región
        </a>
      </li>
    </ul>
  </div>
</nav>