<div class="row">
    <div class="col mt-2">
        <div class="animate__animated animate__fadeIn">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item fs-5 active" aria-current="page">Región</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col">
                    <div class="btn-group">
                        <button class="btn" 
                            [class]="getClassCss(region)" 
                            *ngFor="let region of regiones"
                            (click)="activarRegion(region)">
                            {{region | titlecase}}
                        </button>
                      </div>


                    <!-- <button class="btn ms-3" 
                        [class]="getClassCss(region)"
                        *ngFor="let region of regiones"
                        (click)="activarRegion(region)">
                        {{region | titlecase}}
                    </button> -->
                </div>
            </div>
            <hr>
        </div>
        <div class="alert alert-danger" *ngIf="hasError">
            No se encontraron resultados.
        </div>
        <div class="row" *ngIf="paises.length > 0">
            <div class="col">
                <div class="table-responsive">
                    <app-pais-tabla [paises]="paises"></app-pais-tabla>
                </div>
            </div>
        </div>
    </div>
</div>