<div class="row">
    <div class="col">
        <div class="animate__animated animate__fadeIn">
            <h2>Región</h2>
            <hr>
            <div class="row">
                <div class="col">
                    <button class="btn ms-3" 
                        [class]="getClassCss(region)"
                        *ngFor="let region of regiones"
                        (click)="activarRegion(region)">
                        {{region | titlecase}}
                    </button>
                </div>
            </div>
            <hr>
        </div>
        <div class="alert alert-danger" *ngIf="hasError">
            No se encontraron resultados.
        </div>
        <div class="row" *ngIf="paises.length > 0">
            <div class="col">
                <div class="table-responsive">
                    <app-pais-tabla [paises]="paises"></app-pais-tabla>
                </div>
            </div>
        </div>
    </div>
</div>